@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  background-color: #0f172a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #576EF2;
  text-decoration: inherit;
}

a:hover {
  color: #93c5fd;
}

body {
  margin: 0;
  min-width: 0;
  background-color: #0B1120;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}
.app-link:hover {
  color: #93c5fd;
  text-decoration: none;
}

::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}
